input {
    display: block;
    width: 20rem;
    box-sizing: border-box;
}

input[type='submit'], table {
    margin-top: 1rem;
}

table {
    width: 40rem;
}

html,body {
    height:100%;
    width:100%;
    margin:0;
    text-align: center;
    padding-top: 35px;
  }
  body {
    display:flex;
    justify-content: center;
  }
  form {
    margin:auto;
  }

#logout {
    background-color: red;
    color: white;
    border-radius: 2px;
    border-color: red;
}

